body {
    background-color: #ADB3B3;
    display: flex; 
    height: 100vh; 
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    color: #787E7E;
    margin: 0px;
}

p {
    font-family: Georgia, serif;
    color: white;
    margin: 0px auto;
    max-width: 25em;
}

#conteudo-atletas {
    margin-top: 20px;
    display: grid; 
    gap: 1em;
    margin: auto; 
}

.atleta-container {
    display: grid;
    flex-direction: row;
    width: 16rem;
    background-color: white;
    border-radius: 7%;
    text-align: center;
    justify-items: center;
    align-items: center;
    margin: auto;
    cursor: pointer;
}

.atleta-container {
    transition: transform 0.3s;
}

.atleta-container:hover {
    transform: scale(1.1); 
}

.atleta-container h3 {
    font-family: Georgia, serif;
    color: #373f3f;
}

.atleta-container img {
    border-radius: 7%;
}

.atleta-container h4 {
    font-family: Georgia, serif;
    align-items: center;
    width: 16rem;
    color: white;
    text-align: center;
    background-color: #787e7e;
    border-radius: 7%;
    cursor: pointer;
}

#Acesso {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#Acesso header {
    background-color: white;
    padding: 0.5em 1em;
    position: relative; 
    display: flex; 
    flex-direction: row;
    justify-content: center;
}

header button {
    margin-left: auto;
}

button {
    background-color: #787E7E;
    border: none;
    color: white;
    text-align: center;
    padding: 0.5em;
    cursor: pointer;
    border-radius: 10%;
}

button:hover {
    background-color: #373f3f;
}

#botoes_gnd {
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    gap: 2em; 
    margin: 2em 0px 3em;
}

#botoes_gnd button {
    font-size: large;
    text-align: center;
    border: none; 
    text-decoration: none; 
    padding: 1em; 
    cursor: pointer; 
    font-size: 1em; 
    max-width: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#botoes_pqn {
    font: Georgia, serif;
    align-items: center;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #787E7E;
    border: none; 
    border-radius: 5px; 
    width: 200px;
    margin: auto;
  }

#botoes_pqn option {
    font: Georgia, serif;
    background-color: #787E7E; /* Cor de fundo cinza para opções */
    color: white;
}

@media screen and (max-width: 768px){
    #container-inicio{
       flex-direction: column;
    }
    #Acesso{
        flex-direction: column;
    }
    #botoes{
        flex-direction: column;
    }
    #conteudo-atletas{
        grid-template-columns: 1fr;
    }
    #botoes_gnd {
        display: none;
    }
    #botoes_pqn {
        display: flex;
    }
 }

 @media screen and (min-width: 768px) and (max-width: 1023px){
    #conteudo-atletas{
        grid-template-columns: 1fr 1fr;
    }
    #botoes_gnd {
        display: flex;
    }
    #botoes_pqn {
        display: none;
    }
 }

 @media screen and (min-width: 1024px) and (max-width: 1199px){
    #conteudo-atletas{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    #botoes_gnd {
        display: flex;
    }
    #botoes_pqn {
        display: none;
    }
 }

 @media screen and (min-width: 1200px){
    #conteudo-atletas{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    #botoes_gnd {
        display: flex;
    }
    #botoes_pqn {
        display: none;
    }
 }
